.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: #c6c4bde3 1px solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.openClosedSideBar{
    width: 50px;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.openClosedSideBar:hover{
    background-color: #c6b347;
    color:white
}